version: '3.8'

services:
  backend:
    build: ./backend
    container_name: backend_container
    env_file: .env
    ports:
      - "3000:3000"
    depends_on:
      - mysql
    volumes:
      - ./backend:/app
      - /app/node_modules
    command: sh -c "npm install && sleep 10 && npm start"

  mysql:
    image: mysql:8.0
    container_name: mysql_container
    env_file: .env
    volumes:
      - mysql_data:/var/lib/mysql
      - ./e-todo.sql:/docker-entrypoint-initdb.d/init.sql
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: phpmyadmin_container
    ports:
      - "8082:80"
    environment:
      PMA_HOST: mysql
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
    depends_on:
      - mysql

volumes:
  mysql_data:
